<nav class="navbar navbar-expand" style="background-color: rgb(20, 20, 20);">
    <div class="container-fluid">
        <div class="row navbar-collapse" id="navbarSupportedContent">
            <a href="#" class="col-2 text-start" style="margin-right: none;"><img src="../../assets/Logo.jpg"
                    alt="Logo"></a>
            <div class="col-2"></div>
            <form class="col-4">
                <input class="form-control border rounded-pill text-center p-2 fs-5 d-none d-md-flex" type="search"
                    placeholder="Search">
            </form>
            <div class="col-4 text-center">
                <a TextBolder class="text-white fs-5 text-decoration-none px-3" style="cursor: pointer" (click)="OnHelp()">How can we help you ?</a>
            </div>
        </div>
    </div>
</nav>