<br>
<br>
<div class="row bg-secondary justify-content-center w-100 py-5">
    <div class="col-12 col-md-3 text-center text-md-start">
        <li class="list-group-item">
            <img src="../../assets/Logo.jpg" alt="Logo">
        </li>
        <li class="list-group-item w-50 d-none d-md-flex">Lorem ipsum dolor sit ame natus aspernatur,
            optio inventore cumque laborum aut fugiat, sint adipisci eum repellat rem.</li>
    </div>
    <div class="col-12 col-md-3 text-center text-md-end fs-5">
        <li class="list-group-item text-dark fw-bold">Useful Links</li>
        <br>
        <li class="list-group-item text-dark">About us</li>
        <li class="list-group-item text-dark">FAQ's</li>
        <li class="list-group-item text-dark">Feedbacks</li>
    </div>
    <div class="col-12 col-md-3 text-center text-md-start fs-5">
        <li class="list-group-item text-dark fw-bold">Need Help?</li>
        <br>
        <li class="list-group-item text-dark">Need therapist?</li>
        <li class="list-group-item text-dark">Contact us</li>
        <li class="list-group-item text-dark">Privacy policy</li>
        <li class="list-group-item text-dark">Disclaimer</li>
    </div>
</div>