<br>
<br>
<div class="row justify-content-center w-100 border border-top border-dark bg-dark text-light">
    <p class="col-7 fs-4 fst-italic text-center">
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga itaque
        consequuntur placeat culpa reprehenderit suscipit eius. Laborum voluptatum fugit repudiandae. Neque atque at
        voluptates, deleniti reprehenderit rerum. Itaque esse derit suscipit eius. Laborum voluptatum fugit repudiandae.
        Neque atque at
        voluptates, deleniti reprehenderit rerum. Itaque esse numquam
        earum accusamus sint."
        <br>
        <div class="row">
            <span class="col-9 text-end fst-bolder fst-italic fs-2">"Some Philosopher"</span>
        </div>

</div>